@font-face {
    font-family: 'NetflixSans-Bold';
    src: url(../fonts/NetflixSans-Bold.otf);

    font-family: 'NetflixSans-Light';
    src: url(../fonts/NetflixSans-Light.otf);

    font-family: 'NetflixSans-Medium';
    src: url(../fonts/NetflixSans-Medium.otf);

    font-family: 'NetflixSans-Regular';
    src: url(../fonts/NetflixSans-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    color: blue;
    text-decoration: none; /* no underline */
  }

main {
    width: 100vw;
    height: 100vh;
}

.profile-imagens {
    margin-top: 25vh;
    width: 600px;
    height: 200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.section {
    width: 100vw;
    height: 100vh;
    background-color: #141414;
}

.section img {
    height: 100%;
    width: 100%;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 20vh;
    padding-bottom: 20vh;
    cursor: pointer;
    opacity:1;  
    animation: flickerAnimation 3s infinite;
}

.loading {
    width: 100%;
    height: 100%;
}

.columns {
    justify-content: space-evenly;
}

.column {
    margin: 5px;
    background-color: rgb(199, 199, 199);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    height: 25vw;
    max-height: 250px;
    max-width: 250px;
    min-height: 84px;
    min-width: 84px;
    position: relative;
    text-decoration: none;
    width: 15vw;
    background-position: center;
    cursor: pointer;
    transition: all .8s;
} 



.column:nth-child(1) {
    background-image: url('../img/jeni.jpg');
}

.is-3 {
    color: white;
    text-align: center;
    font-family: 'NetflixSans-Regular';
}

.is-6 {
    text-align: center;
    font-weight: 500;
    color: rgb(104, 104, 104);
}

.subtitle {
    padding: 5px;
    margin-top: 5vh;
    text-align: center;
    font-weight: 500;
    color: rgb(104, 104, 104);
    border: solid 1px rgb(143, 143, 143);
    width: 120px;
    height: 30px;
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.fa-play {
    color: #fff;
}

.fa-play:hover {
    color: rgb(207, 10, 10);
    color: #fff;
}

.icon-text {
    padding: 5px 80px;
    background-color: rgb(161, 4, 12);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0vh;
    color: #fff;
    transition: all .8s;
}

.icon-text:hover {
    background-color: rgb(104, 6, 11);
}

.assistir {
    /* background-color: red; */
    text-align: center;
    height: 5vh;
    color: #fff;
    font-weight: 500;
}

.assistir a {
    color: #fff;
}


.title {
    padding-top: 1vh;
    text-align: center;
    font-style: italic;
}