@font-face {
    font-family: 'NetflixSans-Bold';
    src: url(../fonts/NetflixSans-Bold.otf);

    font-family: 'NetflixSans-Light';
    src: url(../fonts/NetflixSans-Light.otf);

    font-family: 'NetflixSans-Medium';
    src: url(../fonts/NetflixSans-Medium.otf);

    font-family: 'NetflixSans-Regular';
    src: url(../fonts/NetflixSans-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main {
    width: 100vw;
    height: 100vh;
}

.profile-imagens {
    margin-top: 25vh;
    width: 600px;
    height: 200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.section {
    width: 100vw;
    height: 100vh;
    background-color: #141414;
}

.section img {
    height: 100%;
    width: 100%;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 20vh;
    padding-bottom: 20vh;
    cursor: pointer;
    opacity:1;  
    animation: flickerAnimation 3s infinite;
}

.loading {
    width: 100%;
    height: 100%;
}

.columns {
    justify-content: space-evenly;
}

.column {
    margin: 5px;
    background-color: rgb(199, 199, 199);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    height: 15vw;
    max-height: 150px;
    max-width: 150px;
    min-height: 84px;
    min-width: 84px;
    position: relative;
    text-decoration: none;
    width: 10vw;
    background-position: center;
    cursor: pointer;
    transition: all .8s;
} 

.column:hover { 
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin-top: -5px;
}

.column:nth-child(1) {
    background-image: url('../img/jeni.jpg');
}

.column:nth-child(2) {
    background-image: url('https://pps.whatsapp.net/v/t61.24694-24/150904894_509460627627985_8651743054140512116_n.jpg?ccb=11-4&oh=01_AVxr-F3rXPsfESEPxvzbgM3u_7MTWVGBEvLFxDMStF_xSQ&oe=632965CE');
}

.column:nth-child(3) {
    background-image: url('../img/elas.jpg');
}

.column:nth-child(4) {
    background-image: url('https://pbs.twimg.com/media/DmBraqkXcAA1Yco.jpg');
}
.is-3 {
    color: white;
    text-align: center;
    font-family: 'NetflixSans-Regular';
}

.is-6 {
    padding-top: 15vh;
    text-align: center;
    font-weight: 500;
    color: rgb(104, 104, 104);
}

.subtitle {
    padding: 5px;
    margin-top: 5vh;
    text-align: center;
    font-weight: 500;
    color: rgb(104, 104, 104);
    border: solid 1px rgb(143, 143, 143);
    width: 120px;
    height: 30px;
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: all .8s;
}


.subtitle:hover {
    color: #fff;
    border: solid 1px rgb(160, 160, 160);
    background-color: #252525;
}


@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:.3; }
    100% { opacity:1; }
  }